@model IEnumerable<Entidades.Categoria>
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">@ViewBag.breadcrumb</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">@ViewBag.pageheader</h4>
    </div>
</div><!--/.row-->
<div class="panel panel-default">
    <div class="panel-heading">
        @ViewBag.Heading
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                
                <div class="btn-group" role="group" aria-label="...">
                    @Html.ActionLink("Agregar", "CategoriaAdd", "Catalogos", null, new { @class = "btn btn-primary", data_modal = "" })
                    

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Exportar
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Excel", "ReporteCategoria", "Catalogos", new { FileType = "Excel", ContentType = "application/vnd.ms-excel" }, null)</li>
                            <li>@Html.ActionLink("Pdf", "ReporteCategoria", "Catalogos", new { FileType = "PDF", ContentType = "application/pdf" }, null)</li>
                            @*<li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <table class="table-bordered table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DesCategoria)
                    </th>
                    <th>
                        Categoría Padre
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DesCategoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PadreCategoria.Nombre)
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Editar", "CategoriaEdit", new { id = item.Id }, new { data_modal = "" })</li>
                                    <li>@Html.ActionLink("Eliminar", "CategoriaEliminar", new { id = item.Id }, new { data_modal = "" })</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/app/modalform.js"></script>