@model IEnumerable<Entidades.Unidades>

<div class="panel panel-default">
    <div class="panel-heading">
        @ViewBag.Heading
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                @Html.ActionLink("Agregar", "UnidadAdd", "Catalogos", null, new { @class = "btn btn-primary", data_modal = "" })
            </div>
        </div>
        <table class="table-bordered table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DesUnidades)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Codigo)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DesUnidades)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Editar", "UnidadEdit", new { id = item.Id }, new { data_modal = "" })</li>
                                    <li>@Html.ActionLink("Eliminar", "UnidadEliminar", new { id = item.Id }, new { data_modal = "" })</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/app/modalform.js"></script>