@model IEnumerable<Entidades.TasaCambios>

<div class="panel panel-default">
    <div class="panel-heading">
        @ViewBag.Heading
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                @Html.ActionLink("Agregar", "TasaCambiosAdd", "TasaCambios", null, new { @class = "btn btn-primary", data_modal = "" })
            </div>
        </div>
        <table id="grid" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdMonedaLocal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdMonedaExtranjera)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TCoficial)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TCventa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TCcompra)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monedas.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monedas1.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TCoficial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TCventa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TCcompra)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Editar", "TasaCambiosEdit", new { id = item.IdTasaCambio }, new { data_modal = "" })</li>
                                <li>@Html.ActionLink("Eliminar", "TasaCambiosEliminar", new { id = item.IdTasaCambio }, new { data_modal = "" })</li>
                            </ul>
                        </div>
                </tr>
                }
            </tbody>

        </table>

    </div>
</div>

<script src="~/Scripts/app/modalform.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#grid').DataTable({
            "lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]]
            //"pageLength": 200
        });
    });
</script>